.highlighted {
  background-color: lightgreen;
}

.target {
  border: solid lightgreen;
}

[id*="char"] {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.game-text {
  font-size: 2rem;
}
