.highlighted {
  background-color: lightgreen;
}

.target {
  border: solid lightgreen;
}

[id*="char"] {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.game-container {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 5rem;
}
.score {
}

.game-text {
  font-size: 2rem;
}
